<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Sample TODO app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Sample TODO app</span>

            <button sec:authorize="isAuthenticated()" type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div sec:authorize="isAuthenticated()" id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">Log out
                        [<span sec:authentication="name"></span>]
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="top-offset"/>
<div layout:fragment="content">
</div>
</body>

</html>
